@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Long+Cang&family=Truculenta:opsz,wght@12..72,100..900&display=swap');

* {
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --grey-0: hsl(0, 0%, 100%);
    --grey-1: hsl(0, 0%, 93%);
    --grey-2: hsl(0, 0%, 87%);
    --grey-3: hsl(0, 0%, 80%);
    --grey-4: hsl(0, 0%, 67%);
    --grey-5: hsl(0, 0%, 53%);
    --grey-6: hsl(0, 0%, 40%);
    --grey-7: hsl(0, 0%, 27%);
    --grey-8: hsl(0, 0%, 20%);
    --grey-9: hsl(0, 0%, 13%);

    --prim-0: hsl(16, 92%, 90%);
    --prim-1: hsl(16, 95%, 77%);
    --prim-2: hsl(16, 95%, 66%);
    --prim-3: hsl(16, 100%, 61%);
    --prim-4: hsl(16, 100%, 56%);
    --prim-5: hsl(16, 100%, 50%);
    --prim-6: hsl(16, 100%, 38%);
    --prim-7: hsl(16, 100%, 32%);

    --succ-1: hsl(120, 64%, 68%);
    --succ-2: hsl(120, 91%, 36%);
    --err-1: hsl(0, 92%, 67%);
    --err-2: hsl(0, 98%, 56%);

    --size-1: 0.25rem;
    --size-2: 0.5rem;
    --size-3: 0.75rem;
    --size-4: 1rem;
    --size-5: 1.25rem;
    --size-6: 1.5rem;
    --size-8: 2rem;
    --size-16: 4rem;
    --size-32: 5rem;
    --size-64: 10rem;
}

body {
    margin: 0;
    background-color: var(--grey-5);
    color: #010101;
    font-family: 'Truculenta', sans-serif;
}

h1, h2, h3 {
    font-family: 'Fredericka the Great', serif;
}

button {
    font-family: inherit;
    cursor: pointer;
}